<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SalesforceBulkAPI.Contract.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <SalesforceBulkAPI.Contract.Properties.Settings>
      <setting name="SalesforceBulkAPI_Contract_SFEnterprise_SforceService"
               serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/40.0/0DF61000000Grtu</value>
      </setting>
    </SalesforceBulkAPI.Contract.Properties.Settings>
  </applicationSettings>
</configuration>